* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}


/* mio intento */
.texto-explicativo {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.45em;
    font-weight: 400;
    text-align: center;
    background-color: white;
    color: #676767;
}

/* BODY */
body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.45em;
    font-weight: 400;
    background-color: white;
    color: #676767;
}

.sombra {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.712);
}

/* HEADER */
.header-container {
    height: 100vh;
    width: 100%;
    background: #000000;
    background: -webkit-linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../image/header.jpg);
    background: linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../image/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-container-cv {
    height: 50vh;
    width: 100%;
    background: #000000;
    background: -webkit-linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../image/header.jpg);
    background: linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../image/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* BARRA DE NAVEGACION */
.nav-container {
    background-color: transparent;
    height: 100px;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    transition: all 0.5s ease;
}


/* LOGOTIPO */
.logo-container {
    margin: 5px;
    height: 90%;
    display: flex;
    align-items: center;
    width: 350px;
    overflow: hidden;
    padding: 5px;
}

/* IMG DEL LOGO */
.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ELEMNTOS DEL MENU */
.btn-menu {
    color: #f1f3f3;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    z-index: 150;
}
.btn-close{
    color: #f1f3f3;
    font-size: 35px;
    padding: 0 20px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    z-index: 150;    
}


.nav__menu {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.nav__item {
    font-size: 15px;
    font-weight: 800;
    margin: 0 5px;
    line-height: 100px;
    text-transform: uppercase;
    width: max-content;
    /*para cuando uso mas de una palabra*/
    text-shadow: 1px 1px 4px rgb(7, 7, 7);

}

.nav__item--link {
    padding: 5px;
    color: #f1f3f3;
}

.nav__item--link:hover,
.nav__item--link-active {
    border-bottom: 2px solid aqua;
}

/* CAPA */
.capa-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.capa-container-cv {
    position: absolute;
    top: -25%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* CAPA ITEM */
.capa__item {
    margin-bottom: 20px;
}

/* CAPA TITULO */
.capa__titleP {
    color: #f1f3f3;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px 4px #000;
}

/* CAPA PROFESION */
.capa__profesion {
    color: #f1f3f3;
    text-shadow: 1px 1px 4px #000;
}

/* CAPA RS */
.capa__rs span {
    color: #f1f3f3;
    font-size: 25px;
    margin-left: 10px;
}

.rs:hover {
    color: aqua;
}

/* CAPA BTN */
.capa__btn {
    border: 1px solid #f1f3f3;
    display: inline-block;
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 4px #000;
}

.capa__btn a {
    color: #f1f3f3;
}

.capa__btn:hover {
    background-color: #1111115b;
    cursor: pointer;
}

.capa__btn:hover a {
    color: aqua;
    text-shadow: 1px 1px 4px #000;
}

/* CAPA OLA */
.capa-ola {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.capa-ola-cv {
    position: trelative;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
}

/* ===== MAIN ===== */
main {
    display: flex;
    flex-direction: column;
}



/* ===== PROFILE ===== */
.profile-container {
    width: 85%;
    margin:0px auto;
    margin-top: 130px;
    background: #000000;
    background: -webkit-linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../image/profile.jpg);
    background: linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../image/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(202, 202, 202);
    overflow: hidden;
    border-radius: 20px;
    

}

.profile-container-cv {
    width: 85%;
    margin:0px auto;
    margin-top: 130px;
    background: #000000;
    background: -webkit-linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../image/profile2.jpg);
    background: linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../image/profile2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(202, 202, 202);
    overflow: hidden;
    border-radius: 20px;
    

}

.profile__item:nth-child(1) {
    padding: 20px 20px 0px 20px;

}

/* AVATAR */
.profile__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
    overflow: hidden;

}

.profile__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* PROFILE TITLE */
.profile__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;

}

.profile__item:nth-child(3) {
    background-color: rgba(153, 153, 153, 0.527);
    padding: 20px;
}

.profile__texto p {
    padding: 20px;
    text-align: justify;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(219, 218, 218);
    text-shadow: 1px 1px 4px #000;
}

/* ===== MIS SERVICIOS ===== */
.main__item:nth-child(2) {
    width: 100%;
    padding-top: 130px;

}

.main__item:nth-child(2) h2 {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.main__item:nth-child(2) h2 span {
    font-weight: 700;
}

.servicios-container {
    width: 100%;
    margin: 10px auto;
    padding: 30px;
    background: #c3c4c58f;
    /* background: -webkit-linear-gradient(to right, rgb(67, 67, 67, .8), rgb(0, 0, 0, .8)), url(../image/img.jpg);
    background: linear-gradient(to right, rgb(67, 67, 67, .6), rgb(0, 0, 0, .78)), url(../image/img.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(8, 8, 8);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 280px;
    grid-auto-flow: dense;
    gap: 2em;
}

/* SERVICIOS ITEMS */
.servicios__item {
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 2px 3px 6px 0 rgb(69, 126, 123);
    transition: all 1s ease;
}

.servicios__icon {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(202, 202, 202, 0.61);
    transition: all 1s ease;
}

.servicios__icon span {
    font-size: 35px;
    transition: transform 350ms ease;
}

.servicios__name,
.servicios__text {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.servicios__name {
    text-transform: uppercase;
    font-size: 20px;
    color: #676767;
    transition: color 1s ease;
}

.servicios__text {
    text-transform: capitalize;
    color: #676767;
    padding: 0 30px;
    text-align: initial;
}

.servicios__item:hover {
    box-shadow: 2px 8px 15px 0 rgb(69, 126, 123);
}

.servicios__item:hover .servicios__icon {
    background-color: #05050565;
}

.servicios__item:hover .servicios__name {
    color: #050505d8;
}

.servicios__item:hover .servicios__icon span {
    transform: scale(1.2);
}
.servicios-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* ===== PORTAFOLIO ===== */
#Portafolio {
    width: 100%;
    margin: 0px auto;
    padding-top: 130px;
    background: #c3c4c58f;
    background: -webkit-linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../image/profile.jpg);
    background: linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .9)),
}

.main__item:nth-child(3) h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 17px;
    font-weight: lighter;
}

.main__item:nth-child(3) h2 span {
    font-weight: 700;
}



/* GALERIA DE PORTAFOLIO */
.gallery-container {
    width: 85%;
    padding: 20px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px,200px);
    grid-auto-flow: dense;
    gap: 1.5em;
}

.gallery__item {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
}

/* ELEMENTOS DE LA GALERIA */
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

}

/* IMAGENES */
.item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms ease-out;
}

/* CAPA SOBRE LA IMAGEN  */
.item__capa {
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 2, 14, 0.473);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

/* EFECTO CAPA */
.item:hover>.item__capa {
    opacity: 1;
    visibility: visible;
}

/* TITULO DE LA CAPA */
.capa__title {
    font-size: 25px;
    color: aqua;
    font-weight: 400px;
    margin-top: -25px;
    /*Con esto hacemos que se oculte*/
    margin-bottom: 350px;
    /*Y al darle un margen inferior mayor que el tamaño del contenedor la otra capa de texto no es visible  */
    transition: all 500ms ease-out;
    text-shadow: 1px 1px 2px #0c0c0c;
}

/* EFECTO SOBRE EL TITULO */
.item:hover>.item__capa .capa__title {
    margin-top: 75px;
    margin-bottom: 10px;
}

/* DIMENSIONES PARA LOS TEXTOS EN GENERAL */
.capa__texto {
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: 5px auto;
}

/* SCALAR LA IMAGEN */
.item:hover>.item__img {
    transform: scale(2) rotate(30deg);
}
/* ===== FIN DE LA GALLRIA DEL PORTAFOLIO ======*/

/* ===== FOOTER ===== */
.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #1e1e1e;;
}

.footer-container-cv {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #1e1e1e;;
}

.footer__item {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer__item:nth-child(1) {
    padding-top: 15px;
    grid-column: span 1;
}

.footer__logo {
    width: 450px;
    overflow: hidden;
}

.footer__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer__item:nth-child(2) {
    padding-top: 15px;
    grid-column: span 1;
}

.footer__rs {
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-auto-flow: dense;
    grid-auto-rows: max-content;
    gap: 1em;
}

.footer__rs span {
    font-size: 18px;
    color: #99999965;
    margin: 0px 20px; 
    width: max-content;
}

.footer__item:nth-child(3) {
    color: #999;
    background-color: #00000096;
    line-height: 30px;
    font-size: 18px;
}

.footer__item:nth-child(3) a {
    color: #999;
    font-style: italic;
}

/* RESPONSIVE DESIGN */
@media(max-width:1200px) {

    /* ===== HEADER ===== */
    /* LOGOTIPO */
    .logo-container {
        margin: 10px;
        height: 70%;
        display: flex;
        align-items: flex-start;
        width: 250px;
        overflow: hidden;
    }

    /* ===== NAV ====*/
    .nav-container {
        height: 80px;
    }

    .nav__menu {
        flex-direction: column;
        justify-content: flex-start;
        background: #c3c4c58f;
        background: -webkit-linear-gradient(to right, rgb(67, 67, 67, .5), rgb(0, 0, 0, .5)), url(../img1.jpg);
        background: linear-gradient(to right, rgb(67, 67, 67, .7), rgb(0, 0, 0, .7)), url(../img1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        top: -180%;
        width: 100%;
        /* height: calc(100% - 80px); */
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px 0;
        transition: top 0.6s ease-in-out;
    }

    .nav__item {
        width: 100%;
        line-height: 70px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .nav__item--link:hover {
        border: none;
    }

    .nav__item:hover,
    .nav__item-active {
        border-left: 5px solid aqua;
        background-color: rgba(0, 0, 0, 0.432);
    }

    /* BTN AMBURGUESA */
    .btn-menu,.btn-close {
        display: block;
    }
    .btn-close{
        position: absolute;
        left: 85%;
    }

    /* TRAER LA BARRA DE MENU */
    .visible {
        top: 80px;
    }

    /* OLA */
    .capa-ola {
        display: none;
    }

    /* ===== END NAV ===== */


    /* ===== CAPA ===== */
    /* CAPA TITULO */
    .capa__titleP {
        font-size: 25px;
    }

    /* CAPA RS */
    .capa__rs span {
        font-size: 30px;
        ;
    }

    /* CAPA BTN */
    .capa__btn {
        width: 250px;
        padding: 20px;
        font-size: 25px;
        margin-top: 20px;
        border-radius: 30px;
    }

    /* ===== END CAPA ===== */
    /* ===== END HEADER ===== */
    /* ===== PROFILE ===== */
    .main__item {
        width: 100%;
        margin-top: 80px;
        border-radius: 0;
    }

    .profile-container {
        width: 100%;;
        border-radius: 0px;
        
    
    }
    /* ===== FOOTER ===== */
.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer__logo {
    width: 250px;
    overflow: hidden;
}
.footer__rs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__item:nth-child(3) {
    width: 100%;
}
}